{{!-- Setup the index.handlebars to have the template that Handlebars can render
onto.  --}}

<h1>Burgers!</h1>

<h2>Burgers that are not devoured!</h2>

{{log "burgers"}}
<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
    <li>{{burger_name}}</li>
    <form class="updateBurger">
      <input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
      <button class="change-devour" type="submit" >Devour it!</button>
  </form>
    {{/unless}}
  {{/each}}
</ul>



<h2>Burgers that are devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
          <input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
      <li>{{this.burger_name}}</li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form action="/burgers/create" method="POST">

  <div class="form-group">
    <label for="bur">Burger Name:</label>
    <input type="text" id="bur" name="burger_name">
  </div>


  <button class=".create-form" type="submit">Add Burger</button>
</form>


